---
---

<div class="flex items-center gap-2">
  <img src="/logo_finteh.svg" alt="FinTech Association" class="h-8 md:h-10 w-auto" />
  <span class="font-bold text-2xl whitespace-nowrap">
    <span class="text-[#8C2D2D] dark:text-white">fin</span><span class="text-[#8C2D2D] dark:text-[#F0B323]">teh</span>
  </span>
</div>
